* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222629;

  .menuside {
    li {
      margin-top: -10px;
    }
  }
  .allLeagues {
    li {
      margin-top: -20px;
    }
  }
  .other {
    li {
      margin-top: -20px;
    }
  }
  .right-sidebar {
    position: fixed;
    height: 50vh;
    right: -110px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
  }
  .social {
    background-color: transparent;
  }
  .right-sidebar .social a {
    color: #fff;
    background: #d6ce15;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out the icon and text */
    margin: 0px;
    padding: 15px;
    border-radius: 30px;
    transition: transform 1s;
  }

  .right-sidebar .social a:hover {
    transform: translate(-110px);
  }

  .right-sidebar .social i {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Add space between icon and text */
  }

  .right-sidebar .social a span {
    margin-right: 10px; /* Add space between icon and text */
  }

  .right-sidebar .social a:nth-child(1) i {
    order: -1; /* Move icon to the left */
    background-color: #d6ce15;
    color: black;
  }

  .right-sidebar .social a:nth-child(2) i {
    order: -1; /* Move icon to the left */
    font-size: 25px;
    background-color: #d6ce15;
    color: black;
  }

  .right-sidebar .social a:nth-child(3) i {
    order: -1; /* Move icon to the left */
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
  }

  .right-sidebar .social a:nth-child(4) i {
    order: -1; /* Move icon to the left */
    color: #4ecce8;
  }
  .banner {
    background-image: url("../../img/image 23.png");
    height: 650px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    object-fit: contain;
    ul {
      margin-top: 20px;
      background-color: transparent;
    }
  }
  .banner li {
    color: #ffffff;
    padding-bottom: 10px;
    padding-right: 35px;
    background-color: transparent;
  }
  .underbanner {
    background-color: transparent;
    img {
      width: 760px;
      height: fit-content;
      background-color: transparent;
      margin-top: -20px;
      padding-left: 20px;
      height: fit-content;
    }
  }
  footer {
    img {
      padding-right: 20px;
    }
  }
  .to-top {
    background: #363636;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 60px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20%;
    justify-content: center;
    font-size: 24px;
    color: #363636;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    i {
      background-color: #363636;
      margin-top: -25px;
    }
  }

  .to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
  .Transaction {
    p {
      margin-bottom: 0px !important;
    }
  }
}
